

<div>
    <h1 style="height: 1rem;background-color: red;"></h1>
    <div class="container-fluid px-5 py-3">
        <div>
            <label for="search_name">{{message}}</label>
            <input type="text" name="search_name" id="search_name" ng-model="search_name">
        </div>

        <table class="table table-borderless table-hover container-fluid" id="search_table" style="display: none;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Size</th>
                    <th>Color</th>
                    <th>Material</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody ng-repeat="cloth in clothing | filter: search_name">
                <tr>
                    <td>{{cloth.id}}</td>
                    <td>{{cloth.name | uppercase}}</td>
                    <td>{{cloth.price*2 | currency}}</td>
                    <td>{{cloth.size | lowercase}}</td>
                    <td>{{cloth.color | uppercase}}</td>
                    <td>{{cloth.material}}</td>
                    <td>{{cloth.category}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>